
.grid
{
  display: grid ;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5vw;
  padding: 1vw;
  border-radius: 2vw;
  width: 95vw;
  min-height: 20vh;
  margin:auto;
}
.header
{
 width: 95vw;
 margin: auto;
 height: 20vh;
}
.text
{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  gap: 2vw;
}
.logo
{
  font-family: cursive;
  color: rgb(17, 0, 49);
  font-size: 6vw;
}
.subLogo
{
  display: flex;
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  margin-top: -1.5vw;
  text-transform: uppercase;
  color: rgb(187, 0, 0);
  text-shadow: none;
}
h1
{
  display: inline-grid;
  align-items: center;
}
.pontos
{
  display: inline-grid;
}
.points
{
  margin: auto;
}

p
{
  display: flex;
  margin: auto;
  color: rgb(0, 0, 0);
  align-items: center;
  font-size: 3vw;
}
h2
{
  font-size: 3vw;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5rem;
  padding: 0 0.5rem;
  margin-left: 2vh;
}
button
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vw 3vw;
  font-size:2vw;
  border-radius: 2vw;
  background-color: rgb(187, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0.125rem 0.125rem 0.125rem rgb(0, 0, 0, 0.3);
  transition: 0.3s all ease-in-out;
}
button:hover
{
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
