:root
{
  --color-primary: #13141f;
  --color-secundary: darkgoldenrod;
  --color-text-ligth: #fff;
  --color-text-dark: rgb(0, 0, 0);
}

*
{
  margin: 0;
  width: auto;
  padding: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62,5%;
}

body
{
  height: 100vh;
  width: auto;
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background:  rgb(247, 222, 0);
  background: linear-gradient(0deg, rgba(34,49,195,0) 0%, rgba(253,252,45,1) 100%);
}
